/* CSS extern stylesheet for martjay github*/


/* Everything inside body follows these rules:*/
body{
	font-family:arial;
	background-color: white;
}

#main
{
	background-color: white;
	margin-left: 10px;
	
}

/* Header 3*/
#main > h3
{
  font-size: 50px;
margin-left: 100px;
  color: black;
  padding-left: 5px;
  background-color: grey;
  
}